

.nav-wrapper {
  background-color: #392171;
  /* display: flex; */
  justify-content: center;
}

.cloak{

  width: 50%;
  padding-top: 8px;

}

.cloakDiv{

  width: 100px;
  height: 60px
}

.nameDiv {
  margin: auto;
  color:aqua;
  padding-right: 30px;
}

.nav-wrapper-left {
  background-color: #392171;
  justify-content: center;
} 